## Задание 1

Программа выводит на экран объекты типа datetime, соответствующие датам в условии задачи

Форматы: %A — полное название дня недели, %B — полное название месяца, %d — день месяца (2 цифры), %m — номер месяца, %y — год в виде двух цифр, %Y — год полностью (4 цифры).

In [14]:
from datetime import datetime

In [15]:
# Исходные даты
moscow_times = "Wednesday, October 2, 2002"
guardian = "Friday, 11.10.13"
daily_news = "Thursday, 18 August 1977"

In [16]:
# Преобразование в объекты datetime с учётом форматов
moscow_dt = datetime.strptime(moscow_times, "%A, %B %d, %Y")
print(moscow_dt)
moscow_dt

2002-10-02 00:00:00

datetime.datetime(2002, 10, 2, 0, 0)

In [17]:
guardian_dt = datetime.strptime(guardian, "%A, %d.%m.%y")
print(guardian_dt)
guardian_dt

2013-10-11 00:00:00

datetime.datetime(2013, 10, 11, 0, 0)

In [18]:
daily_news_dt = datetime.strptime(daily_news, "%A, %d %B %Y")
print(daily_news_dt)
daily_news_dt

1977-08-18 00:00:00

datetime.datetime(1977, 8, 18, 0, 0)

## Задание 2

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [19]:
from datetime import timedelta

In [20]:
def date_range(start_date, end_date):
    try:
        # Преобразуем строки в объекты datetime
        start = datetime.strptime(start_date, "%Y-%m-%d")
        end = datetime.strptime(end_date, "%Y-%m-%d")
    except ValueError:
        # Если формат неверный или дата не существует возрврат пустого списка
        return []
    
    if start > end:
        return []
    
    # Генерируем список дат в формате 'YYYY-MM-DD'
    date_list = []
    current_date = start
    while current_date <= end:
        date_list.append(current_date.strftime("%Y-%m-%d"))
        current_date += timedelta(days=1)
    
    return date_list

In [23]:
print(date_range('2022-01-01', '2022-01-03'))
print(date_range('2022-01-03', '2022-01-01'))
print(date_range('2022-02-30', '2022-02-31'))

['2022-01-01', '2022-01-02', '2022-01-03']
[]
[]